# 忽略运行文件夹
/ucos II-windows-20201023/Micrium_Win32_Kernel/Micrium_Win32_Kernel/Microsoft/Windows/Kernel/OS2/VS/OS2/**
/ucos II-windows-20201023/Micrium_Win32_Kernel/Micrium_Win32_Kernel/Microsoft/Windows/Kernel/OS2/VS/Debug/**
/ucos II-windows-20201023/Micrium_Win32_Kernel/Micrium_Win32_Kernel/Microsoft/Windows/Kernel/OS2/VS/.vs/**
/ucos II-windows-20201023/Micrium_Win32_Kernel/Micrium_Win32_Kernel/Microsoft/Windows/Kernel/OS3/VS/OS3/**
/ucos II-windows-20201023/Micrium_Win32_Kernel/Micrium_Win32_Kernel/Microsoft/Windows/Kernel/OS3/VS/Debug/**
/ucos II-windows-20201023/Micrium_Win32_Kernel/Micrium_Win32_Kernel/Microsoft/Windows/Kernel/OS3/VS/.vs/**